@font-face {
  font-family: 'HelveticaNeueW01-66MediumIt';
  src: url('../fuentes/HelveticaNeueW01-66MediumIt.woff2') format('woff2'),
      url('../fuentes/HelveticaNeueW01-66MediumIt.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helvetica-Neue';
  src: url('HelveticaNeue-UltraLight.woff2') format('woff2'),
      url('HelveticaNeue-UltraLight.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}




.logo{
    width: 51px;
    margin-right: 40px;
}

.logo2{
    margin-top: 4px;
    width: 45px;
    margin-right: 40px;
    height: 47px;

}


.logo2:hover{
    cursor: pointer;
}


.loader {
   
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    border: 10px solid orange;
    border-top-color: #002147;
    box-sizing: border-box;
    background: transparent;
    animation: loading 1s linear infinite;
    position: absolute;
    left: 50%;
    z-index: 99;
    visibility: hidden;
    
    top: 50%;
  }
  
  @keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    0% {
      transform: rotate(360deg);
    }
  }

body{
  background-color: #fafafa !important;
}

  .ge{
    margin-top: 20%;

    border-radius: 5px;
    height: 700px;
    background: #FFFFFF;
  box-shadow: 0px 4px 33px -12px rgba(0, 0, 0, 0.25);
  border: 1px solid #f48907;
  border-radius: 8px;
  }

.ge2{
    padding: 10px 10px;
	  display: flex;
	  justify-content: flex-end;
	  flex-direction: column;
	  align-self: flex-end;
  }

  .inlineContainer {
    display: inline-flex;
  }
  .inlineContainer.own {
    flex-direction: row-reverse;
  }
  
  .ownBubble {
	min-width: 60px;
	max-width: 700px;
	padding: 14px 18px;
  margin: 6px 8px;
	background-color: #7b7eaf;
    color: white;
	border-radius: 16px 16px 0 16px;
	border: 1px solid white;
 
}
.otherBubble {
	min-width: 60px;
	max-width: 700px;
	padding: 14px 18px;
  margin: 6px 8px;
  background-color: #ffa83f;
  color: white;
	border-radius: 16px 16px 16px 0;
	border: 1px solid white;
  
}
.own {
	align-self: flex-end;
}
.other {
	align-self: flex-start;
}


.ge3{
  background: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0px 4px 33px -12px rgba(0, 0, 0, 0.25);
}




.inside > div > h3{
  font-family: Arial, Helvetica, sans-serif;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    display: inline-block;
}



.inside > div:hover{
  /* border: 1px solid black; */
  background-color:#fac27e
 
}



.me{
  border-bottom: 1px solid #f48907;
}

.me > h3{
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 20px;
  text-align: center;
}


.enviar{
  position: absolute;
  bottom: 35px;
  width: 32%;
  margin-left: 5%;
  border-radius: 10px;
  border: 1px solid rgb(179, 177, 177)
  
}



.enviado{

  /* background-color: rgb(250 250 250);
    border: 1px solid rgb(201, 201, 201);
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 10px;
  word-wrap: break-word;
  
  max-width: 300px; */
}

.enviado2{
  /* text-align: left;
  background-color: rgb(242 239 239);
  border: 1px solid rgb(201, 201, 201);
  padding: 10px;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 80%;
  width: fit-content;
  max-width: 167px;
  overflow:hidden;
  word-wrap: break-word; */
}

/* .enviado2{

  background-color: rgb(242 239 239);
  border: 1px solid rgb(201, 201, 201);
  padding: 10px;
  border-radius: 20px;
  margin-top: 10px;

  width: fit-content;
  float: right;

}


.enviado{
  background-color: rgb(250 250 250);
    border: 1px solid rgb(201, 201, 201);
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    float:left;
} */


.image{
  width: 100px;
}


.test{
  position: absolute;
  border: 1px solid #d4d4d4;
  background-color: white;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 110%;
  left: 0;
  right: 0;
}

.AvhYw {
  background: #fff;
  background: rgba(var(--d87,255,255,255),1);
  border: 1px solid #fff;
  border: 1px solid rgba(var(--f23,255,255,255),1);
  bottom: -6px;
  -webkit-box-shadow: 0 0 5px 1px rgb(0 0 0 / 10%);
  box-shadow: 0 0 5px 1px rgb(0 0 0 / 10%);
  -webkit-box-shadow: 0 0 5px 1px rgba(var(--jb7,0,0,0),.0975);
  box-shadow: 0 0 5px 1px rgba(var(--jb7,0,0,0),.0975);
  height: 14px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 14px;
  position: absolute;
  top: 100%;
  left: 50%;
  right: 0;
  visibility: hidden;
}


.sear{
  position: relative;
}

.padre{
  background-color: #ffffff;
  margin-top: 9.9%;
  display: block;
  overflow-y: scroll;
  height: 700px;
  border: 1px solid #f48907;
  border-radius: 8px;
  
}




::-webkit-scrollbar {
  width: 10px;
  height: 5px;
  display: block
}
::-webkit-scrollbar-thumb {
  background: #e4eaf5;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(196, 201, 211)
}


.testing {
  
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: white;
}

/** This is the css of the input **/
#w-input-container {
  width: 500px;
  min-height: 20px;
  box-sizing: border-box;
  padding: 9px 18px 11px;
  margin: 5px 10px;
  background-color: #fff;
  border: 1px solid rgb(87, 87, 87);
  border-radius: 21px;
  display: block;
  margin: auto;
  margin-right: auto;
  margin-top: 10px;
}

.w-input-text-group {
  position: relative;
}

.w-placeholder {
  color: #a0a0a0;
  top: 0;
  pointer-events: none;
  user-select: none;
  position: absolute;
  opacity: 0;
  transition: 0.2s padding ease-in-out;
}

#w-input-text {
  overflow-x: hidden;
  overflow-y: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  z-index: 1;
  max-height: 100px;
  min-height: 20px;
  padding: 0 0 0 2px;
  outline: 0;
  transition: 0.2s padding ease-in-out;
}

#w-input-text:empty + .w-placeholder {
  opacity: 1;
}

#w-input-text:focus + .w-placeholder {
  padding: 0 6px 0px;
}

#w-input-text:focus {
  padding: 0 6px 0px;
}




