.logo{
    width: 51px;
    margin-right: 40px;
}

.logo2{
    margin-top: 4px;
    width: 45px;
    margin-right: 40px;
    height: 47px;

}


.logo2:hover{
    cursor: pointer;
}


.loader {
   
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    border: 10px solid orange;
    border-top-color: #002147;
    box-sizing: border-box;
    background: transparent;
    animation: loading 1s linear infinite;
    position: absolute;
    left: 50%;
    z-index: 99;
    visibility: hidden;
    
    top: 50%;
  }
  
  @keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    0% {
      transform: rotate(360deg);
    }
  }


  body{
  background-image: url('../imgs/locura.svg');
    
  }