@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.logo{
    width: 51px;
    margin-right: 40px;
}

.logo2{
    margin-top: 4px;
    width: 45px;
    margin-right: 40px;
    height: 47px;

}


.logo2:hover{
    cursor: pointer;
}


.loader {
   
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    border: 10px solid orange;
    border-top-color: #002147;
    box-sizing: border-box;
    background: transparent;
    animation: loading 1s linear infinite;
    position: absolute;
    left: 50%;
    z-index: 99;
    visibility: hidden;
    
    top: 50%;
  }
  
  @keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    0% {
      transform: rotate(360deg);
    }
  }


  body{
  background-image: url('../imgs/locura.svg');
    
  }

  nav{
    box-shadow: 0px 4px 33px -12px rgb(0 0 0 / 25%);
  }

  .valorados{
    border-top: 7px solid #6d71b2;
    border-radius: 19px;
    background-color: white;
    box-shadow: 0px 4px 33px -12px rgb(0 0 0 / 25%);
    height: 400px;
  }

  .amigos{
    border-top: 7px solid #6d71b2;
    border-radius: 19px;
    background-color: white;
    box-shadow: 0px 4px 33px -12px rgb(0 0 0 / 25%);
    height: 400px;
  }

  .cercanas{
    margin-top: 50px;
    border-top: 7px solid #6d71b2;
    border-radius: 19px;
    box-shadow: 0px 4px 33px -12px rgb(0 0 0 / 25%);
    height: 400px;
  }

  .sugerencias{
    margin-top: 50px;
    border-top: 7px solid #6d71b2;
    border-radius: 19px;
    background-color: white;
    box-shadow: 0px 4px 33px -12px rgb(0 0 0 / 25%);
    height: 400px;
  }

  .publis{

    margin-top: -250px;
    border-top: 7px solid #6d71b2;
    border-radius: 19px;
    background-color: white;
    box-shadow: 0px 4px 33px -12px rgb(0 0 0 / 25%);
    height: 700px;
  }

  .momentos{
    border-top: 7px solid #6d71b2;
    border-radius: 19px;
    background-color: white;
    box-shadow: 0px 4px 33px -12px rgb(0 0 0 / 25%);
    height: 100px;
  }

  h3{
    font-family: Lato;
    text-align: center;
    margin-top: 25px !important;

  }

  .altura{
    height: 100px;
  }

 