@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
html{
  height: 900px !important;
}

.logo {
  width: 51px;
  margin-right: 40px;
}

.logo2 {
  margin-top: 4px;
  width: 45px;
  margin-right: 40px;
  height: 47px;

}


.logo2:hover {
  cursor: pointer;
}


.loader {

  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  border: 10px solid orange;
  border-top-color: #002147;
  box-sizing: border-box;
  background: transparent;
  animation: loading 1s linear infinite;
  position: absolute;
  left: 50%;
  z-index: 99;
  visibility: hidden;

  top: 50%;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  0% {
    transform: rotate(360deg);
  }
}


body {
  background-image: url('../imgs/locura.svg');

}

nav {
  box-shadow: 0px 4px 33px -12px rgb(0 0 0 / 25%);
}

.valorados {
  border-top: 7px solid #6d71b2;
  border-radius: 19px;
  background-color: white;
  box-shadow: 0px 4px 33px -12px rgb(0 0 0 / 25%);
  height: 100%;
  width: 94%;
}

.listas {
  border-top: 7px solid #6d71b2;
  border-radius: 19px;
  background-color: white;
  box-shadow: 0px 4px 33px -12px rgb(0 0 0 / 25%);
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.cercanas {
  margin-top: 50px;
  border-top: 7px solid #6d71b2;
  border-radius: 19px;
  box-shadow: 0px 4px 33px -12px rgb(0 0 0 / 25%);
  height: 400px;
}

.sugerencias {
  margin-top: 50px;
  border-top: 7px solid #6d71b2;
  border-radius: 19px;
  background-color: white;
  box-shadow: 0px 4px 33px -12px rgb(0 0 0 / 25%);
  height: 71%;

}

.publis {

  margin-top: -111%;
    border-top: 7px solid #6d71b2;
    border-radius: 19px;
    background-color: white;
    box-shadow: 0px 4px 33px -12px rgb(0 0 0 / 25%);
    /* height: 700px; */
    overflow-y: scroll;
    height: 900px;
  
}



  




::-webkit-scrollbar {
  width: 10px;
  height: 5px;
  display: block
}

::-webkit-scrollbar-thumb {
  background: #e4eaf5;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(196, 201, 211)
}

.momentos {
  border-top: 7px solid #6d71b2;
  border-radius: 19px;
  background-color: white;
  box-shadow: 0px 4px 33px -12px rgb(0 0 0 / 25%);
  height: 100px;
  display: none;
}

h3 {
  font-family: Lato;
  text-align: center;
  margin-top: 25px !important;

}

.altura {
  height: 100px;
}

.image {
  float: left;
  width: 100px;
  height: 100px;
  border-radius: 22px;
  object-fit: cover;
  box-shadow: 0px 4px 33px -12px rgb(0 0 0 / 10%);
  margin-left: 15px;
}

.imageFeed {
  float: left;
  width: 92%;
  height: 31%;
  border-radius: 22px;
  object-fit: cover;
  box-shadow: 0px 4px 33px -12px rgb(0 0 0 / 10%);
  margin-left: 15px;
  margin-bottom: 65px;
}


.pin {
  width: 20px;
  display: inline-block;
}

.name2 {
  display: inline-block;
}

.name {

  text-align: left;
  position: relative;
  left: 15px;
  padding-top: 7px;

}

.perf {
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 22px;
  object-fit: cover;
  box-shadow: 0px 4px 33px -12px rgb(0 0 0 / 10%);
  margin-left: 15px;
  margin-left: 15px;
  display: inline-block;
  margin-bottom: 20px;

}

.try {
  margin-top: 20px;
}

.margen {
  margin-left: 10px;
  margin-left: 15px;
  display: inline-block;
}

.move {
  margin-left: 20px;
}


.stars {

  width: 99px;
  display: inline-block;
  margin-left: 9px;
  margin-top: -13px;
  margin-right: 155px;
}





.list {
  float: left;
  width: 100px;
  height: 100px;
  border-radius: 22px;
  object-fit: cover;
  box-shadow: 0px 4px 33px -12px rgb(0 0 0 / 10%);
  margin-left: 15px;
}

.list:hover{
  cursor:pointer;
}

.listah3 {
  position: relative;
  top: -34px;
  text-align: left;
}


.fecha {
  background-color: #6d71b2;
  width: fit-content;
  display: inline-block;
  margin-top: 10px;
  color: white;
  padding: 5px;
  border-radius: 13px;
  
}

.hora {
  
  width: fit-content;
  display: inline-block;
  margin-top: 10px;
  color: #a5a5a5;
  padding: 5px;
  border-radius: 13px;
  
}

.aleix{ 
  padding-top: 10px;
}

.esp{
  padding-top: 15px;

}


.desplegable{
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 15px;
  border-color: #a19999;
}

 /*sugerencias*/

 .sugerencias{
  overflow-y: scroll !important;
  overflow-x: hidden !important;
  margin-top: -25px;
  height: 71%;

}

.imFix{
 border-radius: 100% !important;
  width: 100px !important;
  height: 100px !important;
  object-fit: cover !important;
}

.imFix:hover, .thumb{
 cursor: pointer !important;
}
.thumb{
 border-radius: 100% !important;
 width: 25px !important;
 height: 25px !important;
 object-fit: cover !important;
 margin-right: 5px;
}


.pendientes{
  
  border-radius: 15px;
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  background-color: #ffffff;
  z-index: 99;
  height: fit-content;
  width: 235px;
  top: 12%;
  /* left: 0; */
  right: 14%;
  display: none;
  
  
}

.listas_def{
  
  position: absolute;
  background-color: white;
  height: 448px;
  width: 698px;
  left: 0;
  right: 0;
  top: 20%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 33px -12px rgb(0 0 0 / 25%);
  z-index: 99;
  display:none; 
  overflow-y: scroll;
  overflow-x: hidden;
  
}


#pendent:hover{
  cursor:pointer;
}

.botonacceptar{
  width:20px;
}

.part{
  background-color: #6d71b2;
  padding: 11px;
  color: white;
  margin-top: ;
  position: relative;
  top: -25px;
}

.cerrar{
  background-color: #ee5162;
    border: none;
    border-radius: 25px;
    width: 26px;

    color: white;
}